<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script type="text/javascript" src="static/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="static/js/routing_api.js"></script>
  </head>
  <body>
    <h2>Hello this is anil</h2>
    <b>welcome to my flask application</b>
    <hr>
    <h3>Enter First and Last name</h3>
    <form class="" onsubmit="Inserting_doc(event)" method="post">
      <input type="text" name="fname" id="fname">
      <input type="text" name="lname" id="lname">
      <input type="submit" name="submit" value="submit">
    </form>
    <div class="output_div">
      <b>output</b>
      <p id="res1">result</p>
    </div>
    <button type="button" onclick="Show_all_collection_data(event)">Show All record</button>
    <div class="all_opt">
      <p id="res2"></p>
    </div>
  </body>
</html>
